// General
.titleHeading {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #4d504a;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.titleParagraph {
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  width: 80%;
}
img {
  width: 80%;
  //   transition: all 2s !important;
}
img:hover {
  //   transform: scale(0.95) !important;
}
.imgDivTitle {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.imgDivSubTitle {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 2.5rem;
}

// Top Section
.topSection {
  background-color: #f4f0ed;
  padding: 4rem 0 0 0;
  //   padding: 0;
}
.topSectionWrapper {
  width: 90%;
  height: 100%;
  margin: auto;
}

.topDivOne {
  //   border: 1px solid #111;
  position: relative;
  .imgDiv {
    position: absolute;
    top: 13rem;
  }
}
.topDivTwo {
  //   border: 1px solid red;
  padding-bottom: 6rem;
  //   padding-bottom: 5rem;
}

// Bottom Section
.bottomSection {
  width: 90%;
  margin: auto;
  padding: 0 0 3rem 0;
}
.bottomSectionWrapper {
  //   margin-top: 2rem;
}
.bottomDivOne {
  //   margin-top: 10rem;
  margin-top: 14rem;
  //   border: 1px solid #111;
}
.bottomDivTwo {
  //   border: 1px solid red;
  //   margin-top: -5rem;
  position: relative;
  .imgDiv {
    position: absolute;
    top: -2rem;
  }
}
@media (max-width: 768px) {
  .titleParagraph {
    margin-bottom: 2rem;
  }
  .topSectionWrapper,
  .bottomSection {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .topDivOne {
    // border: 1px solid #111;
    position: static;
    .imgDiv {
      position: static;
    }
  }
  .topDivTwo {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .bottomSectionWrapper {
    margin-top: 1rem;
  }
  .bottomDivOne {
    margin: 2rem 0;
  }
  .bottomDivTwo {
    // border: 1px solid #111;
    position: static;
    .imgDiv {
      position: static;
    }
  }
}

// .generalPhotosWrapper {
//   width: 80%;
//   margin: auto;
// }

// h2 {
//   font-family: 'Cormorant Garamond', sans-serif;
//   color: #4d504a;
//   font-size: 2rem;
//   font-weight: 300;
//   letter-spacing: 0.1rem;
// }
// p {
//   font-family: 'Mulish', sans-serif;
//   font-size: 1.2rem;
//   width: 80%;
// }
// .internalDiv {
//   margin-bottom: -120px;
//   img {
//     width: 90%;
//     margin-bottom: 1rem;
//     transition: all 1s;
//   }
//   img:hover {
//     transform: scale(0.95);
//   }
//   p,
//   h2 {
//     font-family: 'Mulish', sans-serif;
//     margin: 0;
//     color: #4d504a;
//   }
// }

// .sectionTop {
//   background-color: #f4f0ed;
//   padding: 3rem 0 0 0;
// }

// .sectionTopWrapper {
//   width: 90%;
//   display: flex;
//   margin: auto;
//   .divOne {
//     flex-basis: 50%;
//     margin-right: 5%;
//   }
//   .divTwo {
//     flex-basis: 40%;
//     img {
//       margin-bottom: 1rem;
//       width: 90%;
//       height: 80%;
//       transition: all 1s;
//     }
//     img:hover {
//       transform: scale(0.95);
//     }
//     p,
//     h2 {
//       font-family: 'Mulish', sans-serif;
//       margin: 0;
//     }
//     h2 {
//       font-size: 2rem;
//       font-weight: 300;
//     }
//     p {
//       font-size: 1.2rem;
//       width: 80%;
//     }
//   }
// }

// .sectionBottom {
//   width: 90%;
//   padding: 0 0 5rem 0;
//   margin: auto;
//   display: flex;
//   .divOne {
//     flex-basis: 50%;
//     margin-right: 5%;
//     margin-top: 160px;
//   }
//   .divTwo {
//     flex-basis: 40%;
//     margin-top: -20px;
//     img {
//       margin-bottom: 1rem;
//       width: 90%;
//       height: 80%;
//       transition: all 1s;
//     }
//     img:hover {
//       transform: scale(0.5);
//       cursor: pointer;
//     }
//     p,
//     h2 {
//       font-family: 'Mulish', sans-serif;
//       margin: 0;
//     }
//     h2 {
//       font-size: 2rem;
//       font-weight: 300;
//     }
//     p {
//       font-size: 1.2rem;
//       width: 80%;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .sectionTopWrapper {
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     .divOne {
//       flex-basis: 100%;
//       margin-right: 0;
//       margin-bottom: 10rem;
//     }
//     .internalDiv {
//       img {
//         width: 100%;
//         margin-bottom: 2.5rem;
//       }
//       p,
//       h2 {
//         font-family: 'Mulish', sans-serif;
//         margin: 0;
//       }
//     }
//     .divTwo {
//       flex-basis: 100%;
//       img {
//         width: 100%;
//       }
//     }
//   }
//   .sectionBottom {
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     .divOne {
//       flex-basis: 100%;
//       margin-right: 0;
//       margin-top: 2rem;
//       margin-bottom: 5rem;
//     }
//     .divTwo {
//       flex-basis: 100%;
//       img {
//         width: 100%;
//       }
//     }
//   }
// }
