/* Carousel Styles */
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

/* Goto Top Button */

.scrollTop {
  position: fixed;
  /* padding: 0.5rem; */
  color: #f94144;
  right: 5%;
  width: 5%;
  min-width: 30px;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.8;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
